body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}


button {
    padding: 5px 10px;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    
}

button:hover {
    background-color: #45a049;
}

#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  border: 5px solid #6d6d6d;
  background-image: url('sprites/79a4a4fc1a28b87d87030defc1e36c6f.jpg');
  overflow: hidden;
  border-radius: 30px;
}

.personaje {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url('sprites/cat.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
}

.moneda {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('sprites/original-a75cefebf868269513d83-unscreen.gif');
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px; 
}




.plataforma {
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: black;
}